:javascript
  $(document).ready(function() { 
    $("table#TableDDNSZone").tablesorter({ 
      sortList: [[0,0]],
    });
  });
  

- content_for :breadcrumb do
  %li
    = link_to "Server (#{@server.name})", servers_path
    %span.divider /
  %li
    = link_to "Subnet (#{@subnet.net})", server_subnets_path
    %span.divider /
  %li
    DDNS Zones

- content_for :sidebar do
  %h2 DDNS Zones List
  %h4 
    Subnet: 
    "#{@subnet.net}"
  = link_to 'New DDNS Zone', new_server_subnet_ddns_zone_path, :class => "btn primary"
  %br/
  %br
  = link_to 'Subnets', server_subnets_path, :class => "btn icon arrowleft"

%table#TableDDNSZone.zebra-striped.bordered-table
  %thead
    %th Name
    %th Primary
    %th Ddns key
    %th
    %th
  - @ddns_zones.each do |ddns_zone|
    %tr
      %td= ddns_zone.name
      %td= ddns_zone.primary
      %td= ddns_zone.key.name
      %td= link_to 'Edit', edit_server_subnet_ddns_zone_path(@server, @subnet, ddns_zone)
      %td= link_to 'Destroy', server_subnet_ddns_zone_path(@server, @subnet, ddns_zone), confirm: 'Are you sure?', method: :delete
