- content_for :title, "Sigin"
- content_for :sidebar do
  / - if flash.empty?
  /   %div{:style => "margin-top: 70px;"}
  - flash.each do |key, value|
    %div{:class => "alert-message #{key}"}= value
  %div
    = form_for(:session, :url => :signin_path) do |f|
      %br/
      = f.label :login
      %br/
      = f.text_field :login
      %br/
      = f.label :password
      = f.password_field :password
      %br/
      %br/
      = f.submit "Sign in", :class => "btn primary large", :style => "width:220px;"
