= form_for([@server, @subnet]) do |f|
  - if @subnet.errors.any?
    .alert-message.block-message.error
      %h2
        = pluralize(@subnet.errors.count, "error")
        prohibited this server from being saved:
      %ul
        - @subnet.errors.full_messages.each do |msg|
          %li= msg
  .clearfix{:class => !( f.object.errors[:net].empty?) ? "error" : nil}
    = f.label :net
    .input
      = f.text_field :net
  .clearfix{:class => !( f.object.errors[:options].empty?) ? "error" : nil}
    = f.label :options
    .input
      = f.text_area :options, :size => "40x10", :style => 'width: 500px;'
  .dialogButton
    = f.submit :class => "btn primary"
