- content_for :breadcrumb do
  %li
    = link_to "Server (#{@server.name})", servers_path
    %span.divider /
  %li
    = link_to "Subnet (#{@subnet.net})", server_subnets_path
    %span.divider /
  %li.active
    Edit

- content_for :sidebar do
  %h2 Subnet Edit
  %h4 
    Server: 
    "#{@server.name}"
    
  = link_to 'DDNS Zones', server_subnet_ddns_zones_path(@server, @subnet), :class => "btn primary"
  %br/
  %br/
  = link_to 'Ranges IP', server_subnet_range_ips_path(@server, @subnet), :class => "btn primary"
  %br/
  %br/
  = link_to 'Back', server_subnets_path, :class => "btn icon arrowleft"
  
= render 'form'
